/Bin/.cmake
/Bin/CMakeFiles
/Bin/TestArgus_autogen
/Bin/cmake_install.cmake
/Bin/Makefile
/Bin/CMakeCache.txt
/TestArgus/opencv450/etc
/TestArgus/opencv450/x64/mingw/lib
/TestArgus/CMakeLists.txt.user
